<div class="MailForm">
    <form>
        <h3>Signup for our Newsletter!</h3>
        <label for="email">Email</label>&nbsp;<input type="email" name="email" id="email" />
        <input type="submit" value="Signup" />
    </form>
</div>